#box1{
     height:150px;
    width:150px;
    background-color:red;
    padding:10px;
    border-radius:50%;
    border:1px solid black;
    text-align: center;
}
#box2{
     height:150px;
    width:150px;
    background-color:yellow;
    padding:10px;
    border-radius:50%;
    border:1px solid black;
}
#box3{
     height:150px;
    width:150px;
    background-color:green;
    padding:10px;
    border-radius:50%;
    border:1px solid black;
}
