.card{
    height:800px;
    width:500px;
    padding:5px;
    margin:5px;
    border:2px solid black;
    background-color:aquamarine;
    float:center;
    align-items:center;
    box-shadow: 0px 0px 50px yellowgreen;
}
img{
    height:250px;
    width:250px;
    border-radius:50%;
    float:center;

}
body{
    text-align:center;
}
